body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.margin {
  margin: 2rem 0 2rem 0;
}

.collection, a.collection-item {
  color: #039be5 !important;
}

.comment {
  position: relative;
}

.comment .grey-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

.page-footer {
  padding-top: 0;
}

#github {
  font-size: 1.25rem;
  transition: 0.3s;
}

#github:hover {
  transform: scale(1.5);
}