body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.margin {
  margin: 2rem 0 2rem 0;
}

.page-footer {
    padding-top: 0;
  }

.comment {
  position: relative;
}

.comment .grey-text {
  position: absolute;
  bottom: 0;
  right: 0;
}